<route lang="yaml">
meta:
  title: t('menu.dashboard')
  # only support element plus icons, refs: https://element-plus.org/en-US/component/icon.html#icon-collection
  icon: list
</route>

<script lang="ts" setup>
    
</script>

<template>
<div>{{ name }}</div>
</template>
